# Python
__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
*.log
*.in
*.trs
.deps
stamp-h1
.dirstamp
Makefile
/aclocal.m4
/autom4te.cache/
/compile
/configure
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/missing
/test-driver

# Project binaries
/src/omtt
/unittests/main
/unittests/*_tests

# System Tests
# helper apps
/systemtests/apps/false
/systemtests/apps/true
/systemtests/apps/scat
/systemtests/apps/secho
/systemtests/apps/crash_null_ptr_dereference
/systemtests/apps/sleep60
/systemtests/apps/close_input_and_print_some_output
# tests output
/systemtests/output/
